*{

       

}

ul{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}

section{

        display: flex;
        align-items: center;
        justify-content: center;

}

img{

        height: 5rem;

}