body{
    background-color: #343434;
    padding: 0px;
    margin: 0px;
}


nav{
    background-color: #444;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.darkMode{
    filter: invert(1);
}


h1{
    color: whitesmoke;
    text-align: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
    padding: .5rem;
    border: whitesmoke solid 2px;
    border-radius: 15px;
    margin: 1rem;
}


a:hover{
    background: whitesmoke;
    color: #444;
    text-decoration: underline;
}

.buttonContainer{
    display: flex;
    justify-content: space-evenly;
}
.buttonContainerMobile{
    display: flex;
    flex-direction: column;
    text-align: center;
}