*{

       

}

ul{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}

section{

        display: flex;
        align-items: center;
        justify-content: center;

}

img{

        height: 5rem;
        /* width: 5rem; */
        

}

.logo{

        height: 5rem;
        width: 5rem;
        border-radius: 100%;

}

.card{

        border: .2rem solid black;
        border-radius: 3rem;
        background: oklch(70.4% 0.191 22.216);

}