#map{
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    border: 2px black solid;
}
body{

        background: oklch(96.2% 0.059 95.617);
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
}
